<?xml version="1.0"?>
<robot name="AUREA" xmlns:xacro="http://ros.org/wiki/xacro">
  <link name="base_link">
    <visual>
      <geometry>
        <box size="0.2 0.1 0.05"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <box size="0.2 0.1 0.05"/>
      </geometry>
    </collision>
  </link>
  <link name="neck_link">
    <visual>
      <geometry>
        <cylinder radius="0.01" length="0.53"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <cylinder radius="0.01" length="0.53"/>
      </geometry>
    </collision>
  </link>
  <joint name="base_link_neck_link_joint" type="fixed">
    <parent link="base_link"/>
    <child link="neck_link"/>
    <origin xyz="0 0 0.29" rpy="0 0 0"/>
  </joint>
  <joint name="camera_pan_motor" type="continuous">
    <parent link="neck_link"/>
    <child link="camera_link"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10"/>
    <origin xyz="0 0 0.11" rpy="0 0 0"/>
  </joint>
  <link name="camera_link">
    <visual>
      <origin xyz="0 0 0.14" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.01" length="0.02"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0.14" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.01" length="0.02"/>
      </geometry>
    </collision>
  </link>
  <link name="cam_overlay_display">
  </link>
  <joint name="camera_link_cam_overlay_display_joint" type="fixed">
    <parent link="camera_link"/>
    <child link="cam_overlay_display"/>
    <origin xyz="0 0 0.14" rpy="0 0 0"/>
  </joint>
  <link name="camera_optical_frame">
  </link>
  <joint name="camera_optical_joint" type="fixed">
    <parent link="camera_link"/>
    <child link="camera_optical_frame"/>
    <origin xyz="0 0 0.14" rpy="-1.570796 0 -1.570796"/>
  </joint>
  <joint name="wheel_rr_motor" type="continuous">
    <parent link="base_link"/>
    <child link="wheel_rr_link"/>
    <axis xyz="0 -0.000003 -1"/>
    <limit effort="10" velocity="10"/>
    <origin xyz="-0.05 -0.06 0" rpy="1.5708 0 0"/>
  </joint>
  <link name="wheel_rr_link">
    <visual>
      <geometry>
        <cylinder radius="0.04" length="0.02"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <cylinder radius="0.04" length="0.02"/>
      </geometry>
    </collision>
  </link>
  <joint name="wheel_rl_motor" type="continuous">
    <parent link="base_link"/>
    <child link="wheel_rl_link"/>
    <axis xyz="0 -0.000004 -1"/>
    <limit effort="10" velocity="10"/>
    <origin xyz="-0.05 0.06 0" rpy="1.5708 0 0"/>
  </joint>
  <link name="wheel_rl_link">
    <visual>
      <geometry>
        <cylinder radius="0.04" length="0.02"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <cylinder radius="0.04" length="0.02"/>
      </geometry>
    </collision>
  </link>
  <joint name="wheel_fr_motor" type="continuous">
    <parent link="base_link"/>
    <child link="wheel_fr_link"/>
    <axis xyz="0 -0.000003 -1"/>
    <limit effort="10" velocity="10"/>
    <origin xyz="0.05 -0.06 0" rpy="1.5708 0 0"/>
  </joint>
  <link name="wheel_fr_link">
    <visual>
      <geometry>
        <cylinder radius="0.04" length="0.02"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <cylinder radius="0.04" length="0.02"/>
      </geometry>
    </collision>
  </link>
  <joint name="wheel_fl_motor" type="continuous">
    <parent link="base_link"/>
    <child link="wheel_fl_link"/>
    <axis xyz="0 0.000001 -1"/>
    <limit effort="10" velocity="10"/>
    <origin xyz="0.05 0.06 0" rpy="1.570795 0 0"/>
  </joint>
  <link name="wheel_fl_link">
    <visual>
      <geometry>
        <cylinder radius="0.04" length="0.02"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <cylinder radius="0.04" length="0.02"/>
      </geometry>
    </collision>
  </link>

  <webots>
    <plugin type="my_package.my_robot_driver.MyRobotDriver"/>
    <device>
      <name>CAM</name>
      <type>Camera</type>
    </device>
  </webots>
</robot>
